.complaint {
  float: left;
  color: black;
  background-color: #f7941e;
  margin: 2px;
  padding: 3px;
  border-radius: 5px;
}
.complaintsList {
  background-color: lightcyan;
}
.line01:hover {
  border: black 1px solid;
  background-color: aquamarine;
  border-radius: 5px;
}

h2 {
  color: black;
}
button {
  color: white;
  margin: 2px;
  background-color: #f7941e;
  border-radius: 5px;
}
.butttons {
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightcyan;
}
