<section style="background-image: url('../../assets/about.jpg');background-size:  cover; display: block;width: 100%;height: 320px "></section>
<h2><em>Electricity Complaint Form</em></h2>
<br />
<section style="border-radius: 5px">
  <form>
    <label for="num"> n/n</label><input #num type="text" name="num" id="num" size="4" [(ngModel)]="abonent.num" />
    <label for="name">Name: </label> <input #name type="text" name="name" id="name" size="20" [(ngModel)]="abonent.name" />
    <label for="address">Address:</label><input #address type="text" name="address" id="address" size="50" [(ngModel)]="abonent.address" />
    <label for="date">Date:</label><input type="text" name="date" id="date" size="8" [(ngModel)]="abonent.date" />
    <label for="compl">Complaint:</label><input type="text" name="compl" id="compl" size="50" [(ngModel)]="abonent.compl" />
    <hr>
    <label for="disstaff">Dis.Service Staff:</label><input type="text" name="disstaff" id="disstaff" size="4"
      [(ngModel)]="abonent.disstaff" />
    <label for="advice">Customer Advice:</label><input type="text" name="advice" id="advice" size="8" [(ngModel)]="abonent.advice" />
    <label for="status">Complaint Status:</label><input type="text" name="status" id="status" size="7" [(ngModel)]="abonent.status" />
    <label for="category">Complaint Category:</label><input type="text" name="category" id="category" size="7"
      [(ngModel)]="abonent.category" />
    <label for="complited">Complited:</label><input type="text" name="complited" id="complited" size="8" [(ngModel)]="abonent.complited" />
    <label for="distype">Dis. Type:</label><input type="text" name="distype" id="distype" size="4" [(ngModel)]="abonent.distype" />
    <div class="butttons">
      <button id="clearcomplaint" name="clearcomplaint" (click)="clearForm()">Clear Form</button>
      <button id="addcomplaint" name="addcomplaint" (click)="addComplaint()">Add Complaint</button>
      <button id="editcomplaint" name="editcomplaint" (click)="editComplaint()">Update Complaint</button>
    </div>
  </form>
</section>
<br />
<hr>

<h2>
  <em> Voltage Complaints Register</em>
</h2>
<br />
<div class='complaintsList'>
  <div class="line01" *ngFor="let abonent of complaintsList" (click)="onSelectRow(abonent.num, abonent.name, abonent.address,
  abonent.date, abonent.compl, abonent.disstaff, abonent.advice, abonent.status, abonent.category,
  abonent.complited, abonent.distype)">
    <div class='complaint'>{{abonent.num}}</div>
    <div class='complaint'>{{abonent.name}}</div>
    <div class='complaint'>{{abonent.address}}</div>
    <div class='complaint'>{{abonent.date}}</div>
    <div class='complaint'>{{abonent.compl}}</div>
    <div class='complaint'>{{abonent.disstaff}}</div>
    <div class='complaint'>{{abonent.advice}}</div>
    <div class='complaint'>{{abonent.status}}</div>
    <div class='complaint'>{{abonent.category}}</div>
    <div class='complaint'>{{abonent.complited}}</div>
    <div class='complaint'>{{abonent.distype}}</div>
    <div style="clear: left"></div>
  </div>
</div>